p.side
{
    font-family: 'Farsan', cursive;
    font-size: x-large;
    display: inline;
}

a.links
{
    font-family: 'Farsan', cursive;
    font-size: x-large;
    text-decoration: none;
}

.img-circle {
    border-radius: 50%;
}

span.pdate
{
    font-family: 'Farsan', cursive;
    font-size: inherit;
}

.head
{
    background-color:#1f1f1f;
}


