p.side
{
    font-family: 'Farsan', cursive;
    font-size: x-large;
    display: inline;
}

a.links
{
    font-family: 'Farsan', cursive;
    font-size: x-large;
    text-decoration: none;
}

.img-circle {
    border-radius: 50%;
}

span.pdate
{
    font-family: 'Farsan', cursive;
    font-size: inherit;
}

.masthead
{
    background-color:#1d1d1d;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: -.025rem;
}

