<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="head">
          <header>
          <center>   <a href="/"><img src="/images/ava.png"></a>
            <h3>Aayush251 | My little place to hide</h3>
            <!--<a href="https://www.facebook.com/Aayush251" class="icon icon-TYPE facebook">facebook</a>
            <a href="https://twitter.com/aayush251" class="icon icon-TYPE twitter">twitter</a>
            <a href="#" class="icon icon-TYPE googleplus">google+</a>
            <a href="https://github.com/aayush251" class="icon icon-TYPE github">github</a>
            <a href="http://aayush251.github.io/atom.xml" class="icon icon-TYPE rss">rss</a></center> -->
        </header>
        </div>
      </div>

      <div class="container content">
      <!--   {{ content }} -->
	  (04/01/2017) - Took Blog down reorganizing posts and website D: . Will be back up by this week (I PROMISE!)</br>
	  (04/05/2017) - Busy with paper right now <include sad face> I'll try to get it back by this weekend (Also thinking of bloging my way learning about Go) bai tc
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  </body>
</html>
